h1{
  color: green;
  line-height: 200px;
  text-align: center;
}
h2 {
  color: blue;
  font-style: oblique;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
}
.interests {
  border: 2px solid red;
}
.intro {
  background-color: coral;
}
.hobbies {
  color: brown;
  text-align: center;
}
.school {
  color: red;
  font-style: oblique;
}
.course {
  color: blue;
}
img {
  height: 200 px;
}
body{
  dy {
   background-image: url("image/desert.jpg");
   background-color: #cccccc;
}
